ЛексическийАнализатор3.sln
Debug
.vs
ЛексическийАнализатор3/Debug
ЛексическийАнализатор3/ЛексическийАнализатор3.vcxproj
ЛексическийАнализатор3/ЛексическийАнализатор3.vcxproj.filters
ЛексическийАнализатор3/ЛексическийАнализатор3.vcxproj.user